{% extends 'index.html' %}

{% block content %}
    <p>Table</p>
    <input class="input" id="textbox_id" type="text" placeholder="Номер">
    <a class="btn btn-primary a__search" href='javascript: goToPage()'>add</a>
    <table class="table">
        {% for i in content %}
            <tr>
                <td> <a class="a__table" target="_blank" href="https://ege.sdamgia.ru/problem?id={{ i }}"> {{ i }} </a> </td>
                <td> <a class="a__table" href="/done/{{ i }}" onclick="return confirm('Завершено?')">Готово</a></td>
				<td> <a class="a__table a_del__table" href="/del/{{ i }}" onclick="return confirm('Удалить?')">Удалить</a></td>
            </tr>
        {% endfor %}
    </table>
    <script>
        function goToPage() {
            var url = document.getElementById('textbox_id').value;
            console.log(typeof url);
            if (url !== "") {
                document.location.href = "/add/" + url;
            }
        }
    </script>
{% endblock %}
